version: '3.8'

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app
    restart: always
    environment:
      - STORAGE_IP=192.168.1.10
      - CRANE_IP=192.168.1.11
      - SORT_CENTER_IP=192.168.1.12
      - SHIPMENT_CENTER_IP=192.168.1.13
      - PAINT_CENTER_IP=192.168.1.14
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - fastapi
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
